@font-face {
  font-family: "Dancing Script";
  src: url(czcionka/DancingScript-VariableFont_wght.ttf);
}

body {
  font-family: "Dancing Script", serif;
  font-size: 120%;
  text-align: center;
  margin: 0;
}

#h1,
aside {
  background-color: rosybrown;
  width: 30%;
  float: left;
}

aside {
  text-align: left;
  height: 350px;
}

#h2 {
  background-color: rosybrown;
  width: 70%;
  height: 100px;
  float: right;
}

section {
  width: 70%;
  height: 550px;
  overflow: scroll;
  float: right;
}

section input {
  line-height: 50px;
}

.miniatury {
  width: 150px;
  transition: 1s;
}

.miniatury:hover {
  background-color: bisque;
  width: 200px;
}
